@using System.Web
@model IList<FileEntry>
@{
}
<table class="table table-bordered table-hover table-striped table-condensed">
    <tr>
        <th>时间</th>
        <th>大小</th>
        <th>名称</th>
        <th>哈希（MD5）</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.LastWrite.ToFullString("")</td>
            <td>@(item.IsDirectory ? "<dir>" : item.Size.ToGMK())</td>
            <td>
                <a href="@(HttpUtility.UrlEncode(item.Name))" title="@item.Title">@item.Name</a>
            </td>
            <td>@item.Hash</td>
        </tr>
    }
</table>
